/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #630043;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#menu a:hover {
    background-color: #B872A2;
}


#menu a {
    display: block;
    padding: 0.5rem;
}

#banner {
    background: url("/img/banner-menu.png") no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    text-align: center;
}

#titulo-principal {
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
}

#titulo-pagina {
    text-align: center;
    color: #630043;
    margin-top: 40px;
}

#titulo-pagina::after, #titulo-pagina::before {
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    background: #630043;
    margin: 14px auto 10px auto;
}

#subtitulo-pagina {
    color: #B872A2;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

#rodape {
    background-color: #B872A2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

#rodape a {
    text-decoration: inherit;
    color: inherit;
}

#rodape h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

#redes {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

#redes li img {
    width: 40px;
}
/* FIM DO ESTILO GERAL */

/* MENU SEMANAL */
#cardapio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
}

.item-menu {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.preco-item-menu {
    min-width: 65px;
}
/* FIM DO MENU SEMANAL */

/* CONTATO */
form {
    width: 600px;
    margin: 0 auto;
}

fieldset {
    border: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

input, select, button {
    border-radius: 5px;
}

.campo {
    float: left;
    margin: 0.5rem 1rem;
}

.campo label {
    margin-bottom: 0.2rem;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="tel"], .campo select {
    padding: 0.2rem;
    border: 1px solid #630043;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

#botao {
    font-size: 1.2rem;
    background: #630043;
    border: 0;
    margin-bottom: 1rem;
    color: white;
    padding: 0.2rem 0.6rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#btn {
    display: flex;
    justify-content: center;
}
/* FIM DO CONTATO */
